# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# ChromaDB
chroma/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db